/*********************/
.close.icon:after {
    position: absolute;
    top: 10px;
    width: 21px;
    height: 2px;
    content: '';
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  
  .close.icon:before {
    position: absolute;
    top: 10px;
    width: 21px;
    height: 2px;
    content: '';
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  
  .close.icon {
    position: absolute;
    left: 50%;
    width: 21px;
    height: 21px;
    color: #000;
    margin-top: 0;
    margin-left: -70px;
    z-index: 99; }
  
  .menu-i.icon:after {
    position: absolute;
    top: 5px;
    left: 0;
    width: 17px;
    height: 2px;
    content: '';
    background-color: currentColor; }
  
  .menu-i.icon:before {
    position: absolute;
    top: -5px;
    left: 0;
    width: 17px;
    height: 2px;
    content: '';
    background-color: currentColor; }
  
  .menu-i.icon {
    position: absolute;
    left: 50%;
    width: 17px;
    height: 2px;
    margin-left: -65px;
    margin-top: 10px;
    background-color: currentColor;
    color: #000;
    z-index: 99; }
  
  .icon,
  .icon:before,
  .icon:after {
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease; }
  
  /*******************************/
  .button-menu{
    display: none;
    position: fixed;
    width: 50%;
    left: 25%;
    text-align: center;
    font-size: 24px;
    top: 24px;
    transition: all ease 1s;
  }
  .button-menu.active{
    width: 100%;
    left: 0;
    padding: 10px 0;
    top: 245px;
    background: rgba(255,255,255,0.95); 
    transition: all ease 1s;
}
@media (max-width: 1200px) {
    html{
        min-width: 100%;
    }
    body{
        min-width: 320px;
        background-color: #ccc;
    }
    .intop{
        width: 90%;
        padding: 0 5%;
    }
    .top-logo{
        margin-right: 20px;
    }
    .nav ul li{
        margin-left: 20px;
    }
    .overlay > div{
        width: 80% !important;
        left: 10% !important;
        margin-left: 0 !important;
    }
    .first_text_inner{
        width: 100%;
    }
    
    .footer_inner{
        width: 96%;
        padding: 80px 2%;
    }
    .footer_block{
        width: 220px;
        margin-right: 20px;
    }
    .yoho{
        width: 100% !important;
        margin-left: 0;
        left: 0;
    }
    .fields{
        margin-left: 40px;
    }
    .comiseo-daterangepicker{
        left: 29% !important;
        z-index: 1;
    }
}
@media (max-width: 991px) {
    .intop{
        width: 98%;
        padding: 0 1%;
    }
    .top_logo{
        margin-right: 0;
    }
    .nav ul li{
        margin-left: 10px;
    }
    .langs_sw ul li {
        margin-right: 1px;
    }
    .pluses_inner{
        width: 100%;
    }
    .one_plus{
        width: 255px;
        margin-left: 0;
    }

    .footer_block{
        width: 47%;
        min-height: 220px;
        margin-right: 1%;
        text-align: center;
    }
    .footer_block .rates{
        margin: 15px auto;
    }
    .all_fbs{
        height: 405px;
    }
    body .comiseo-daterangepicker{
        left: 52% !important;
        width: auto !important;
    }
    .ui-datepicker{
        width: auto !important;
    }
}
@media (max-width: 768px) {
    .button-menu{
        display: block;
    }
    .nav{
        position: fixed;
        width: 100%;
        left: 0;
        text-align: center;
        background: rgba(255,255,255,0.95);
        float: none;
        top: -250px;
        transition: all ease 1s;
    }
    .nav.active{
        top: 0;
        transition: all ease 1s;
    }
    .nav ul li{
        display: block;
        margin-left: 0;
        line-height: 40px;
        border-bottom: 1px solid #ccc;
    }
    .overlay > div{
        font-size: 70px !important;
    }
    .first_text_inner{
        padding: 80px 0 30px 0;
    }
    .about_text_b{
        width: 90%;
    }
    .orn{
        margin: 40px auto 20px;
    }
    #startrates{
        width: 420px !important;   
        margin-left: -210px !important;
    }
    .bok_s{
        margin-left: 20px;
    }
    .pluses{
        padding: 40px 0 80px;
    }
    .one_plus{
        float: none;
        width: 320px;
        margin: 0 auto !important;
    }
    .new_open{
        width: 10%;
    }
    .open_icon,
    .close_icon{
        width: 100%;
    }
    .allside{
        width: 100%;
    }
    .new_side{
        width: 92%;
    }
    .new_close{
        width: 7.77%;
    }
    .ns_content{
        width: 100%;
    }
    .ns_c_in{
        width: 100%;
    }
    .rtop{
        width: 100%;
    }
    .rt_c{
        width: calc(100% - 100px)
    }
    .rnm{
        margin-left: -55px;
        text-align: center;
    }
    .rpr{
        margin-left: 50%;
        font-size: 16px;
        margin-top: -85px;
    }
    .rmid{
        margin: 20px auto;
    }
    .rbot{
        margin: 0 auto;
    }
    .slph{
        z-index: 1;
    }
    .tabledata {
        width: 90%;
        top: 10%;
        left: 5%;
        margin-top: 0;
        margin-left: 0;
    }
    .one_table_line{
        width: 100%;
    }
    .season_t1,
    .season_t2,
    .season_t3{
        width: 32.9%;
    }
    .big_header_b{
        padding-top: 50px !important;
    }
    .yoho{
        height: 800px;
        margin-top: 0;
    }
    .fields {
        margin-left: -150px;
        padding-left: 10px;
        left: 50%;
        top: 350px;
    }
    .trigger{
        margin-left: 200px;
    }
    body .comiseo-daterangepicker {
        left: 50% !important;
        width: 300px !important;
        margin-left: -150px;
    }
    .ui-datepicker {
        width: 300px !important;
    }
}
@media (max-width: 425px) {
    .button-menu{
        width: 40%;
        left: 30%;
    } 
    .overlay > div{
        font-size: 50px !important;
    }
    .ml{
        width: 320px;
    }
    .big_header_b{
        font-size: 34px;
    }
    .ttt{
        height: 600px;
    }
    #startrates{
        width: 320px !important;   
        margin-left: -160px !important;
    }
    .fsq_s,
    .bok_s{
        float: none;
        margin-left: 0;
    }
    .fsq_s .rates_x,
    .bok_s .rates_x{
        margin: 15px auto;
    }

    .footer_block{
        float: none;
        width: 100%;
        min-height: initial;
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }
    .all_fbs{
        height: initial;
    }
    .rmid{
        width: 90%;
        height: auto;
    }
    .rnm{
        font-size: 28px;
    }
    .new_close {
        width: 7.69%;
    }
    .rbot{
        width: 90%;
    }
    .r-room-desc{
        font-size: 16px !important;
        text-align: center;
    }
    .r-room_params-wrap{
        float: none !important;
    }
    .room_params{
        text-align: center;
    }
    .pricetable{
        float: none;
        text-align: center;
    }
    .inroom_table{
        float: none;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .inroom_table ul li{
        list-style: none;
    }
    .ns_c_in{
        height: auto;
        top: 0;
        margin: 40px 0;
    }
    .newrooms{
        height: 800px;
    }
    .tabledata{
        font-size: 13px;
    }
    .f-t-r{
        font-size: 14px;
    }
    .season_t1,
    .season_t2,
    .season_t3{
        width: 32.8%;
    }
}
@media (max-width: 320px) {
    .top_logo{
        width: 70px;
        height: 50px;
        margin-top: 10px;
    }
    .button-menu{
        width: 30%;
        left: 32%;
      }    
}